homeassistant: !include homeassistant.yaml

logger:
  default: info
  logs:
    homeassistant.helpers.template: error

default_config:

google_assistant: !include google_assistant.yaml

frontend: !include frontend.yaml
lovelace: !include lovelace.yaml

http: !include http.yaml

recorder: !include recorder.yaml

tts: !include tts.yaml

group: !include_dir_named groups/

script: !include_dir_named scripts/
automation: !include automations.yaml
automation mine: !include_dir_list automation/
scene: !include scenes.yaml
scene mine: !include_dir_list scenes/
shell_command: !include_dir_merge_named shell_commands/

proximity: !include_dir_merge_named proximity/
sensor: !include_dir_merge_list sensors/
binary_sensor: !include_dir_merge_list binary_sensors/
template: !include_dir_merge_list template/
zone: !include zones.yaml

input_number: !include_dir_named input_number/
input_boolean: !include_dir_named input_boolean/
input_select: !include_dir_named input_select/
input_datetime: !include_dir_named input_datetime/
input_text: !include_dir_named input_text/
timer: !include_dir_named timers/

light: !include_dir_merge_list light/
switch: !include_dir_merge_list switch/
rest: !include_dir_list rest/
yeelight: !include yeelight.yaml

alert: !include_dir_named alerts/
notify: !include_dir_merge_list notify/
telegram_bot: !include telegram.yaml

ffmpeg: !include ffmpeg.yaml
stream:
  ll_hls: true

mqtt:
  sensor: !include_dir_merge_list mqtt/sensor/
  binary_sensor: !include_dir_merge_list mqtt/binary_sensor/
  device_tracker: !include_dir_merge_list mqtt/device_tracker/

command_line: !include_dir_merge_list command_line/

